---
layout: default
title: li research lab
categories:
 - home
---

<!--
<div class="row">
	<div class="col-lg-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			Li Research Lab
		</div>
	</div>
</div>
-->

<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
		<img class="biglogo img-responsive" src="/images/logo.svg" type="image/svg+xml">
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<h1 class="intro-text">
			The Li Lab of <span style="color: #FC8D59">ma</span>terials <span style="color: #FC8D59">re</span>search works on materials design for <span style="color: #6497D6">s</span>ustainable <span style="color: #6497D6">e</span>nergy <span style="color: #6497D6">a</span>pplications by computation, simulation, and data-driven methods.
			<!--We are affiliated with the Thrust of Sustainable Energy and Environment at <a class="off" href="https://hkust-gz.edu.cn/">Hong Kong University of Science and Technology (Guangzhou)</a>. -->
		</h1>
	</div>
</div>

<!--
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      <p>
        The Li Lab of materials research (mare) for sustainable energy applications
		at the <a class="off" href="https://hkust-gz.edu.cn/">Hong Kong University
		of Science and Technology (Guangzhou)</a>.
      </p>
      <p>
        We work on ...
      </p>
		</div>
	</div>
</div>
-->

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/blog/">Recent posts</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<!--remember that I changed all original "blog" to "news", and the word "post" remains unchanged-->
<div class="row">
	{% for post in site.categories.news limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%b %-d, %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%b %-d, %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>
<div class="spacer"></div>


<!--
<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>
-->

<!--
<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>
-->

<div class="row">
  <div class="col-lg-12">
    <div class="float-lg-right" style="vertical-align: bottom; display: table-cell;">
      <!--
	  <a class="off" href="https://www.fredhutch.org/">
        <img width=185 src="/images/logos/logo_fred_hutch_horizontal_grayscale.png">
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
	  -->
      <a class="off" href="https://www.hkust-gz.edu.cn/">
        <img width=189 src="/images/logos/logo_hkustgz.png">
      </a>
	  &nbsp; &nbsp; &nbsp; &nbsp;
	  <a class="off" href="https://facultyprofiles.hkust-gz.edu.cn/thrust-faculties?code=10011A10000000000H24">
		<img width=86 src="/images/logos/logo_see.png">
	  </a>
    </div>
  </div>
</div>

<!--
<a style="display:none;" rel="me" href="https://mstdn.science/@trvrb">Hidden Mastodon Link for Verification</a>
-->